<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="container1">
      <h1>About</h1>
    </div>
    <div class="about_text">
      <p id="about"><p>_bot is an experimental virtual assistant with genuine human traits. It’s eager to help, but easily ends up directing conversation to itself or delivers an outburst instead of calm advice. Sometimes roles are reversed and you end up being the one giving advice. However, you might get a solution to a problem you did not know existed.</p>
      <p>_bot uses Reddit API and Chatterbot library to deliver answers based on relationship advice on Reddit.</p>
    </div>
  </body>
</html>
